@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carrucel-piola {
  height: 500px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.carousel-inner img {
  width: 100%;
  height: auto; }

.header-grids {
  width: 100%;
  font-family: altaletra; }
  .header-grids .header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #272727;
    justify-content: space-between;
    color: #ffffff; }
    .header-grids .header div div {
      display: flex; }
      .header-grids .header div div img {
        width: 40px;
        height: 40px; }
    .header-grids .header nav {
      margin: 10px; }
      .header-grids .header nav ul {
        display: flex;
        list-style: none;
        gap: 40px;
        text-decoration: none;
        flex-wrap: wrap; }
        .header-grids .header nav ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 20px; }
          .header-grids .header nav ul li a:hover {
            background-color: #ff9100;
            border-radius: 8px;
            padding: 3px; }

.checkbtn {
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.img-navbar {
  height: 30px;
  width: 30px; }

.nav-contendor {
  height: 30px;
  width: 30px; }

.main {
  background-image: url(../assets/img/fondohambur.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.h2-bienvenida {
  color: white;
  text-align: center; }

.img-ofertas, .img-lo-quemas-sale {
  width: 300px;
  height: 200px;
  border: 2px solid black; }

.ofertas {
  margin-bottom: 5rem; }

.precios {
  color: #FFD369; }

.h3-2 {
  color: white; }

.aside {
  display: flex;
  gap: 200px;
  justify-content: center; }

.main-menu {
  background-image: url(../assets/img/fondo2.avif); }

/* nosotros*/
.main-nosotros {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  grid-template-columns: repeat(2, 1fr);
  background-color: #414040; }

.header-grids {
  font-family: altaletra;
  background-image: url(../assets/img/fondo2.avif); }

.article-derecha {
  color: white; }

.main-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.main-nosotros h2 {
  text-align: center; }

.grid-body-nosotros {
  background-color: #414040; }

/*Contacto*/
.main-contacto {
  color: white;
  background-image: url(../assets/img/fondo2.avif); }
  .main-contacto h2 {
    font-size: 50px; }
  .main-contacto p {
    font-size: 30px;
    padding: 10px; }

/*Carrito*/
.contenedor-advertencia {
  background: #414040;
  display: inline-block;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center; }

.h4-advertencia {
  font-size: 24px;
  color: white; }

footer {
  background-color: #1d1c1c;
  bottom: 0; }
  footer ul li:hover {
    background-color: #FF8162;
    border-radius: 8px;
    padding: 3px; }

.piepagina {
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  font-size: 17x; }
  .piepagina ul {
    list-style: none;
    margin: 20px; }
    .piepagina ul a {
      text-decoration: none;
      list-style: none;
      color: white; }

.parrafos {
  margin: 20px;
  color: white; }

.main-Carrito {
  color: #ffffff; }

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; }

h2 {
  margin-top: 0; }

/* Estilos para la sección del carrito */
.carrito {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.lista-productos {
  list-style: none;
  padding: 0; }

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

.producto .nombre-producto {
  flex: 1; }

.producto .precio {
  margin-left: 20px; }

.btn-eliminar {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer; }

.total-carrito {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-weight: bold; }

.total-texto {
  margin-right: 10px; }

.total-precio {
  font-size: 1.2em;
  color: #e74c3c; }

.btn-comprar {
  display: block;
  margin: 20px auto;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; }

.btn-comprar:hover {
  background-color: #00ff6a; }

.carrito-rellenito {
  height: 210px; }

.card {
  width: 15rem; }

.cartas {
  width: 70%;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: auto; }

.card-precio {
  color: #ff8800; }

.botoncito-de-cards {
  border: 0;
  background-image: linear-gradient(150deg, #D34848, #FF8162, #FFFA67);
  border-radius: 8px;
  color: white;
  display: flex;
  padding: 2px;
  cursor: pointer;
  font-size: 18px;
  transition: .3s; }

.botoncito-de-cards span {
  background-color: #222831;
  padding: 7px 14px;
  border-radius: 6px;
  transition: .3s; }

.botoncito-de-cards:hover .span-card {
  background: none; }

.titles-menus {
  color: white;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  background-color: #414040;
  border-radius: 90px;
  padding: 4px; }

.div-text-menu {
  text-align: center; }

.relleno-contacto {
  height: 150px;
  width: 50%; }

.rellenenito {
  height: 10px; }

.formulario {
  width: 400px;
  background-color: #FFD369;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px; }
  .formulario h2 {
    margin-bottom: 20px;
    font-size: 22px; }

.h5-formulario {
  color: black; }

.controles {
  text-align: center; }

.h3-formulario {
  text-align: center;
  background-color: #414040;
  border-radius: 50px; }

.bottoncito-form {
  border-radius: 50px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: #ff9100; }

.h2-Contacto {
  text-align: center;
  background-color: #414040;
  border-radius: 50px; }

@media (max-width: 425px) {
  .h2-bienvenida {
    position: relative;
    top: 50px; }
  .aside {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .checkbtn {
    display: block; }
  .header-grids {
    display: block; }
    .header-grids .navbar {
      position: absolute;
      width: 100%;
      height: auto;
      background: #272727;
      top: 50px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 10; }
      .header-grids .navbar ul li {
        margin: 50px 0;
        line-height: 30px; }
        .header-grids .navbar ul li a {
          font-size: 20px; }
  .li a:hover, li a.active {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .header-grids .header nav ul {
    display: block; }
    .header-grids .header nav ul li {
      margin-bottom: 30px; } }

@media (max-width: 375px) {
  .header {
    display: flex; }
  .formulario {
    width: 300px; }
  .div-contenedor-h4 {
    margin-right: 50px; }
  .logo-img {
    width: 20px;
    height: 20px; }
  .div-text-menu {
    margin-right: 80px; } }

@media (max-width: 320px) {
  .div-text-menu {
    margin-right: 100px; }
  .h2-bienvenida {
    position: relative;
    top: 50px; } }
