
@media (max-width:1024px){


}

@media (max-width:768px){
        .main-nosotros {
            display:flex;
            flex-direction: column;

        }
        .imagen-contenedor {
            width: 100%;
            height: auto; 
            text-align: center;

            img {width: 100%;
                    height: auto;
        }
        }
}

@media (max-width:425px){
    .h2-bienvenida {
        position: relative;
        top: 50px;
    }
    .aside { 
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .checkbtn {
        display: block;
    }
    .header-grids {
            display: block;
    .navbar {
        position: absolute;
        width: 100%;
        height: auto;

        background-image: linear-gradient(
            150deg,
            #272727,
            #FF8162,
            #272727
        ) ;
        
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index:10;
        border: solid 3px black;

            ul{ 

            li {
            margin: 50px 0;
            line-height: 30px;

            a {
                font-size: 20px;
            }
        }
    }
}
}

    .li a:hover, li a.active  {
        background: none;
    }
    #check:checked ~ul{
        left: 0;
    }

    .header-grids .header nav ul {
        display: block;
        li {margin-bottom: 30px;
        
        }
    }
}


@media (max-width:375px){
    .header { display: flex;
}
 .formulario {
    width: 300px;
 }
 .div-contenedor-h4 {
    margin-right: 50px;
}
.logo-img { 
    width: 20px;
    height: 20px;
}
.div-text-menu {
    margin-right: 80px;
}
}



@media (max-width:320px){
    .div-text-menu {
        margin-right: 100px;
    }
.h2-bienvenida {
    position: relative;
    top: 50px;
}


}

