.card {
    width: 15rem;
    
}
.cartas {
    width: 70%;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: auto;
}

.card-precio {
    color:rgb(255, 136, 0);
}

.botoncito-de-cards{
    border: 0;
    background-image: linear-gradient(
        150deg,
        #D34848,
        #FF8162,
        #FFFA67
    ) ;
border-radius: 8px;
color: white;
display: flex;
padding: 2px;
cursor: pointer;
font-size: 18px;
transition: .3s;
}
.botoncito-de-cards span {
    background-color: #222831;
    padding: 7px 14px;
    border-radius: 6px;
    transition: .3s;
}

.botoncito-de-cards:hover .span-card{
    background: none;
}

.titles-menus {
    color: white;
    text-align: center;
    font-size: 50px;
    display: inline-block;
    background-color: #414040;
    border-radius: 90px;
    padding: 4px;
}
.div-text-menu {
    text-align: center;
}

.relleno-contacto {
    height:  150px;
    width:50% ;
}
.rellenenito {
    height: 10px;
}
